# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
vendor/

# Build outputs
dist/
dist-ssr/

# Local environment files
*.local
.env
.env.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary and backup files
.cache/
*.bak
Thumbs.db

# Project-specific folders
.bolt/               # Ignore .bolt directory except config.json
!.bolt/config.json   # Track config.json file inside .bolt directory
